

<form [formGroup]="MainForm" (ngSubmit)="onSubmit()" class="md-9">
    <div class="input-group mb-5">
        <input type="text" class="form-control pasteurl" autocomplete="off" placeholder="Paste your short URL" 
          aria-label="Paste your short URL.."  data-toggle="tooltip" title="The URL which has to change goes here.." aria-describedby="basic-addon2" formControlName="txtlink">
      </div>

      <div class="text-center">
        <button type="submit"  class="btn btn-primary mt-3">Check my Visit Count</button>
      </div>
</form>

<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">Fetching your data..</p>  
  </ngx-spinner>   

  <div *ngIf="visible" class="text-center">
    No of Visitors :<h2>{{count}}</h2>
</div>

<div *ngIf="visible" class="text-center">
  No of Uniques Visitors :<h2>{{uniquecount}}</h2>
</div>

  <!-- <div *ngIf="false"  class="md-9">
    <table class="table table-striped table-dark  table-bordered table-hover">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Visited User IP address</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let visitor of visitors; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ visitor.visitedUser }}
        </td>
      </tr>
      </tbody>
    </table>
  </div> -->