body{
     /* background-color:#f1f2f4;  */
     background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);   
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*START: HEADER*/

.navbar-nav .nav-item .nav-link:hover{
color:#509ef8;
}
.navbar-nav .nav-item .nav-link{
    margin-left: 32px;
}
.header1{
    padding: 30px 20px;
}
.logo-img{
    width: 165px;
    height: 50px;
}
.shorten-url{
    border-bottom: 1px dotted #000;
}
.i-copy{
    background-color:#65bd8954;
    height: 35px;
    width: 35px;
    border-radius:50px;
    padding-top: 3px;
    transition: all 0.2s ease-out 0s;
}
.i-copy:hover{
    transform: scale(1.1);
    cursor: pointer;
}
/*END: HEADER*/

/*START: CONTENT*/
.pasteurl{
    letter-spacing: 0.1em;
    font-size: 22px;
    height: 72px;
    padding-right: 84px;
    padding-left: 32px;
    color: rgb(68, 68, 68);
    background-color: white;
    box-shadow: rgba(167, 182, 190, 0.2) 0px 10px 35px;
    border-style: none none solid;
    border-radius: 100px;
    border-bottom: 5px solid rgb(245, 245, 245);
    transition: all 0.5s ease-out 0s;
}
.pasteurl:focus, .domainurl:focus, .customurl:focus{
    box-shadow: rgba(167, 182, 190, 0.4) 0px 20px 35px;
    outline: none;
}
.domainurl, .customurl{
    letter-spacing: 0.1em;
    font-size: 15px;
    height: 44px;
    padding-right: 24px;
    padding-left: 24px;
    color: rgb(68, 68, 68);
    background-color: white;
    box-shadow: rgba(167, 182, 190, 0.2) 0px 10px 35px;
    border-style: none none solid;
    border-radius: 100px;
    border-bottom: 5px solid rgb(245, 245, 245);
    transition: all 0.5s ease-out 0s;
}
.card-working{
    background-color: transparent;
    border:none;
    text-align: center;
}
.card-working .card-title{
    font-weight: 600;
}
.i-size{
   font-size: 22px !important;
   color: #fff;
   background-color: #4d97f3;
   height: 48px;
   width: 48px;
   border-radius: 50px;
   padding-top: 13px;
   transition: all 0.2s ease-out 0s;
}
.i-size:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.features{
    background-color: #2b2e3b;
    color: #fff;
}
.title-features{
    position: relative;
    font-size: 32px;
    padding-bottom: 20px;
}
.title-features::before{
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 1px;
    background: #fff;
    bottom: 1px;
    left: calc(50% - 60px);
}
.title-features::after{
    content: '';
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #4d97f3;
    bottom: 0;
    left: calc(50% - 30px);
}
.footer{
    color: #2b2e3b;
    background-color:#f1f2f4;
}
/*END: CONTENT*/
/*START:MEDIA QUERIES*/
@media screen and (min-width:320px) and (max-width:480px){
  .navbar-nav{
      text-align: center;
  }
  .header1{
    padding: 10px 20px;
  }
  .navbar-nav .nav-item .nav-link{
      margin-left: 0px;
  }
  .pasteurl{
    font-size: 14px;
    height: 50px;
  }
}
@media only screen and (min-width:480px) and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .header1{
      padding: 10px 20px;
    }
    .navbar-nav .nav-item .nav-link{
        margin-left: 0px;
    }
    .pasteurl{
      font-size: 14px;
      height: 50px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .navbar-nav{
        text-align: center;
    }
    .pasteurl{
        height: 60px;
    }
}
/*END:MEDIA QUERIES*/