<section class="shorten-url-box">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="text-center pb-5">
          <h4 class="mt-5 ctm-h4"><span class="ft-w">CHANGE YOUR</span> <span class="ft-p"> URL</span></h4>
           <p class="ft-w mb-4"> Cumbersome  Uniform Resource Locator into easily Recognizable URL..</p>
          <!-- <h4 class="my-5">{{headertext}}</h4> -->
             <h4 class="mb-3" >
               <i class="fa fa-copy ft-p i-copy"  *ngIf="show" (click)="copytext()"></i> &nbsp; <span class="shorten-url ft-w mr-1">{{result}}</span>
              </h4>
            <form [formGroup]="MainForm" (ngSubmit)="onSubmit()">
              <div class="input-group mb-5">
                  <input type="text" class="form-control pasteurl" autocomplete="off" placeholder="Paste your URL"
                aria-label="Recipient's username" data-toggle="tooltip" title="The URL which has to change goes here.." formControlName="txtorigin">
              </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                   
                    <select formControlName="server" class="browser-default custom-select domainurl mr-sm-2" id="exampleFormControlSelect1">
                      <option disabled>Select Server</option>
                      <option *ngFor="let ser of servers">{{ser}}</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <div class="input-group mb-3">
                      <input type="text" class="form-control customurl" formControlName="txtassigned" autocomplete="off" id="inputPassword4" 
                      placeholder="(optional) custom address" required="required" minlenght="5"  data-toggle="tooltip" title="Try anything you wish to create if it is not available try diferent case">
                      <div class="input-group-append">
                        <button class="btn bg-ft-p" type="submit"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </div>
                  <qrcode [qrdata]="myAngularxQrCode" [width]="256" [errorCorrectionLevel]="'M'" *ngIf ="show"></qrcode>
                </div>
            </form>
            
          
            
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
              <h4 class="ft-w title-features">How it <span class="ft-p">works ?</span></h4>
          <p class="ft-w justify">
              Uniform Resource Locator will sometimes be clumsy and difficult to share on social platforms since most of the platforms restricts
              with the character limit.URL Changer does this work for you on optimizing and even goes better on giving an custimizable name to it.
              Guess what.. even you can add extensions such as .jpg, .png just incase if you dont want your friend to guess what you are sending might contain a surprise in it.<b style="color:coral">We do not support or encourage misuse of this Service</b>.
          </p>
      </div>
      <div class="col-md-4">
        <div class="text-center">
<img src="assets/work.png" class="img-fluid">
</div>
      </div>
    </div>
  </div>
</section>

<section class="features py-5">
  <div class="text-center">
    <h4 class="mb-5 title-features">Other <span class="ft-p">Features</span></h4>
  </div>
  <div class="container mb-5">
    <div class="row">
      <div class="col-md-6 col-lg-3">
        <div class="card card-working mb-3">
          <div class="card-body">
            <p><i class="fa fa-snowflake-o i-size" aria-hidden="true"></i></p>
            <p class="card-title">Managing Links</p>
            <p class="card-desc">Customized and Recognizable links </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-working mb-3">
          <div class="card-body">
            <p><i class="fa fa-globe i-size" aria-hidden="true"></i></p>
            <p class="card-title">Custom Domain</p>
            <p class="card-desc">List of Domains will be updted over a period of time.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-working mb-3">
          <div class="card-body">
            <p><i class="fa fa-code-fork i-size" aria-hidden="true"></i></p>
            <p class="card-title">API</p>
            <p class="card-desc">Api to do the work for you.Make a call to our api.<a href="#"> How to ?</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="card card-working mb-3">
          <div class="card-body">
            <p><i class="fa fa-heart-o i-size" aria-hidden="true"></i></p>
            <p class="card-title">Free & Open Source</p>
            <p class="card-desc">Completely free to use.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
 
  <div class="container">
    <div class="text-center">
      <h4 class="ft-w title-features my-5 text-center">Contact <span class="ft-p">US</span></h4>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-4">
            <div class="card card-contact mb-3">
                <div class="card-body">
                  <p><i class="fa fa-envelope-o ft-w i-c-size" aria-hidden="true"></i></p>
                  <p class="ft-p">service@gmail.com</p>
                 </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card card-contact mb-3">
                <div class="card-body">
                  <p><i class="fa fa-map-marker ft-w i-c-size" aria-hidden="true"></i></p>
                  <p class="ft-p">chennai</p>
                 </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card card-contact mb-3">
                  <div class="card-body">
                    <p><i class="fa fa-mobile ft-w i-c-size" aria-hidden="true"></i></p>
                    <p class="ft-p">
                      <a href="https://paypal.me/prbkrn"> Paypal Donate </a>
                    </p>
                   </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>


<ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
  <p style="color: white">{{loadingmessage}}</p>  
  </ngx-spinner>   



  