.pasteurl{
    font-size: 22px;
    padding-right: 84px;
    padding-left: 32px;
    color: rgb(68, 68, 68);
    background-color: white;
    box-shadow: rgba(167, 182, 190, 0.2) 0px 10px 35px;
    border-style: none none solid;
    border-radius: 0px;
    transition: all 0.5s ease-out 0s;
}
.pasteurl:focus, .domainurl:focus, .customurl:focus{
    /* box-shadow: rgba(167, 182, 190, 0.4) 0px 20px 35px; */
    box-shadow: none;
    outline: none;
}
.pasteurl::placeholder, .customurl::placeholder, .ft-l{
    color: #aaa !important;
}
.domainurl, .customurl{
    font-size: 15px;
    padding-right: 24px;
    padding-left: 24px;
    color: rgb(68, 68, 68);
    background-color: white;
    border-style: none none solid;
    border-radius: 0px;
    transition: all 0.5s ease-out 0s;
}
.card-working{
    background-color: transparent;
    border:none;
    text-align: center;
}
.card-contact1{
    background-color: #fff;
    border-color:#fff;
    text-align: center; 
}
.card-contact{
    background-color: transparent;
    border: none;
    text-align: center;
}
.card-working .card-title{
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}
.card-desc{
    font-size: 14px;
}
.justify{
    text-align:justify;
}
.i-size{
   font-size: 22px !important;
   color: #fd6763;
   background-color: #fff;
   height: 48px;
   width: 48px;
   border-radius: 50px;
   padding-top: 13px;
   transition: all 0.2s ease-out 0s;
}
.i-size:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.features{
    background-color: #061319;
    color: #fff;
}
.title-features{
    position: relative;
    font-size: 32px;
    padding-bottom: 20px;
    font-weight: bold;
}
.ft-w{
    color:#fff;
}
.ft-p{
    color:#f1665f !important;
}
.ft-b{
    color:#000;
}
.i-c-size{
    font-size:22px !important;
}
.card-contact .card-body, .card-contact1 .card-body{
    padding:25px 10px !important;
}
.bg-ft-p{
    background-color:#f1665f !important;
    border-color:#f1665f !important;
    height: 37px; 
    color: #fff;
}
.bg-ft-p:hover{
color:#fff;
background-color: #f1665fde !important;
}
.ctm-h4{
    font-weight: bold;
    font-size: 30px;
    padding-top:100px;
}
/*START:MEDIA QUERIES*/
@media screen and (min-width:320px) and (max-width:480px){
    .pasteurl{
      font-size: 14px;
    }
    .bg-ft-p{
        height: 36px;
    }
    .ctm-h4{
        font-size: 26px;
        padding-top: 0px;
    }
  }
  @media only screen and (min-width:480px) and (max-width:767px){
      .pasteurl{
        font-size: 14px;
      }
      .ctm-h4{
          font-size: 26px;
          padding-top: 0px;
      }
  }
  @media only screen and (min-width:768px) and (max-width:991px){
      .card-contact .ft-p, .card-contact1 .ft-p{
          font-size: 14px;
      }
      .ctm-h4{
          font-size: 26px;
          padding-top: 0px;
      }
  }
  /*END:MEDIA QUERIES*/