body{
    /* background-color:#f1f2f4;  */
    /* background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);    */
   font-family: Georgia, 'Times New Roman', Times, serif;
   background-image: url("../assets/darkmode.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index:1;
}