<!-- ngrok http https://localhost:5001 -host-header="localhost:5001" -->
<header>
  <nav class="navbar navbar-expand-lg navbar-light header1">
    <div class="container-fluid">
      <!-- <a class="navbar-brand p-0" href="/">
        Logo</a> -->
        <h4><span class="ft-p">URL</span><span class="ft-w">Changer</span></h4>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav mr-right social-btn">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/counter/clicks">Click Counter </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/GenerateQR">QR Generator</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
