/*START: HEADER*/
  .navbar-nav .nav-item .nav-link{
      margin-left: 32px;
      color:#fff !important;
  }
  .navbar-nav .nav-item .nav-link:hover{
      color:#fd6763 !important;
      cursor: pointer;
  }
  .ft-w{
      color:#fff;
  }
  .ft-p{
      color:#fd6763 !important;
  }
  .ft-b{
      color:#000;
  }
  .i-c-size{
      font-size:22px !important;
  }
  .logo-img{
      width: 165px;
      height: 50px;
  }
  .i-copy{
      background-color:#65bd8954;
      height: 35px;
      width: 35px;
      border-radius:50px;
      padding-top: 3px;
      transition: all 0.2s ease-out 0s;
  }
  .i-copy:hover{
      transform: scale(1.1);
      cursor: pointer;
  }
  /*END: HEADER*/

/*START:MEDIA QUERIES*/
@media screen and (min-width:320px) and (max-width:480px){
  .navbar-nav{
      text-align: center;
  }
  .header1{
    padding: 10px 20px;
  }
  .navbar-nav .nav-item .nav-link{
      margin-left: 0px;
  }
}
@media only screen and (min-width:480px) and (max-width:767px){
    .navbar-nav{
        text-align: center;
    }
    .header1{
      padding: 10px 20px;
    }
    .navbar-nav .nav-item .nav-link{
        margin-left: 0px;
    }
}
@media only screen and (min-width:768px) and (max-width:991px){
    .navbar-nav{
        text-align: center;
    }
}
/*END:MEDIA QUERIES*/