<section class="footer">
    <div class="container">
      <div class="text-center py-4 ft-w">
        Terms of Service © Copyright 2020 | Privacy Policy | All Rights Reserved
      </div>
    </div>
  </section>